.slick-arrow {
    display: none !important;
}

.slick-dots {
    display: flex;
    padding: 0;
    margin: 0 0 0 -39px;
    position: absolute;
    left: 25%;
    bottom: 21%;
    li {
        list-style: none;
        margin: 0 7px;
    }
    button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255, 46, 99, 0.33);
        border: none;
        font-size: 0;
        &:hover {
            cursor: pointer;
            background: #FF2E63;
            transition: all 0.2s ease;
        }
    }
}

.slick-active {
    button {
        background: #FF2E63;
    }
}