.header {
    overflow: hidden;
    padding: 30px 0px 15px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header-logo {
    display: block;
    float: left;
    margin: 9px 0 0 1px;
}

.header-menu {
    float: left;
    margin: 8px 0 0 94px;
    ul {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    li {
        float: left;
        padding: 0 15px;
    }
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #252A34;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            transition: all 0.2s ease;
            color: #FF2E63;
        }
    }
}

.header-right {
    float: right;
}

.only-mobile {
    display: none;
}

.burger {
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    span {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: #FF2E63;
        position: relative;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 2px;
            background: #FF2E63;
            position: absolute;
            left: 0;
        }
        &:before {
            top: -6px;
        }
        &:after {
            top: 6px;
        }
    }
}

.burger.active {
    span {
        background: #fff;
        &:before {
            top: 0;
            transform: rotate(-45deg);
            transition: all 0.2s ease;
        }
        &:after {
            transform: rotate(45deg);
            top: 0;
            transition: all 0.2s ease;
        }
    }
}

.header-menu.active {
    ul {
        display: block;
        border: 1px solid #FF2E63;
        border-radius: 10px;
        border-top: none;
        background: #ffccd9;
    }
    li {
        float: none;
        padding: 5px 15px;
    }
}